.stButton > button {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    color: #ffffff;
}

.stButton > button:hover {
    background-image: linear-gradient(90deg, 
        rgba(79, 181, 118, 0.5) 0%, 
        rgba(68, 196, 137, 0.5) 16%, 
        rgba(40, 169, 174, 0.5) 32%, 
        rgba(40, 162, 183, 0.5) 48%, 
        rgba(76, 119, 136, 0.5) 64%, 
        rgba(108, 79, 99, 0.5) 80%, 
        rgba(67, 44, 57, 0.5) 100%);
    animation: slidebg 3s linear infinite;
    font-weight: bold;
    color: #ffffff;
    box-shadow: rgb(255, 255, 255, 0.5) 0px 0px 20px;
}


/* Hide default sidebar navigation */
[data-testid="stSidebarNav"] {display: none !important;}
            
/* Hide default sidebar content */
.css-1d391kg {display: none}
section[data-testid="stSidebar"] .css-1d391kg {display: none}

/* Hide collapse control */
[data-testid="collapsedControl"] {display: none}

/* Additional selectors to ensure navigation is hidden */
.css-1544g2n.e1fqkh3o4 {display: none !important;}
.css-1adrfps.e1fqkh3o4 {display: none !important;}